<div class="side-nav-content ">
    
    <ul class="nav-list" [ngClass]="{'nav-list-open':sideNavStatus}">
        
        <li class="nav-list-item">
            <span>
                <a href="#">
                    <i class="fa fa-home"></i>Home</a>
            </span>
        </li>
        <li class="nav-list-item">
            <span>
                <a routerLink="/profile" routerLinkActive="true">
                  <i class="fa-solid fa-user"></i> Profile
                </a>
              </span>
        </li>
        <li class="nav-list-item">
            <span>
                <i class="fa-sharp fa-solid fa-chart-simple"></i> <a href="#">Report</a>
            </span>
        </li>
        <li class="nav-list-item">
            <span>
                <i class="fa fa-calendar"></i> <a href="#">Events</a>
            </span>
        </li>
        <li class="nav-list-item">
            <span>
                <a href="#">
                    <i class="fa fa-question-circle"></i>Support</a>
            </span>
        </li>
        <li class="nav-list-item">
            <span>
                <a href="#">
                    <i class="fa fa-sign-out"></i>Logout</a>
            </span>
        </li>
    </ul>

</div>
