h1{
    
    text-align: center;
    text-decoration: none;
    text-rendering: geometricPrecision;
}

.main-body{
    padding-top:20px ;
    margin: 0 auto;
    max-width: 1248px;
}
.todo{
    flex: 1 1 auto;
}