<div class="main-body" >
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="Task List" (click)="toggleTables(true)">Task List</mat-button-toggle>
    <mat-button-toggle value="Assign Task List" (click)="toggleTables(false)">Assign Task List</mat-button-toggle>
  </mat-button-toggle-group>

  <br><br>
    <mat-toolbar color="primary" *ngIf="showTaskList">
     
      <span > ✔ Task List</span>
      <span class="todo"></span>
      <button mat-raised-button><a routerLink="/tasks" class="nav-link" style="text-decoration: none; color: black;">
         ADD NEW TASK</a>
      </button>
    </mat-toolbar>
<body>
    <div class="container-md p-3 my-3 border" *ngIf="showTaskList">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Target Date</th>
                <th>Action </th>
                
            </tr>        
        </thead>
        <tbody>
           <tr *ngFor="let Todo of Todo">
            <td>{{Todo.id}}</td>
                <td>{{Todo.taskname}}</td>
                <td>{{Todo.taskdescription}}</td>
                <td>{{Todo.priority}}</td>
                <td>{{Todo.status}}</td>
                <td>{{Todo.targetdate | date | uppercase}}</td>
                <td>
                <button mat-icon-button  color="primary" (click)="updateTodo(Todo.id)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteTodo(Todo.id)">
                  <mat-icon>delete</mat-icon>
                </button>  
                <button mat-stroked-button><a routerLink="/assign" class="nav-link" >Assign Task</a></button>
              </td>
            </tr>
       </tbody>
    </table>
    </div>
</body>
 
  <mat-toolbar color="primary" *ngIf="showAssignTaskList">
    <span > ✔ Assign Task List</span>
    <span class="todo"></span>
  </mat-toolbar>
<body>
  <div class="container-md p-3 my-3 border" *ngIf="showAssignTaskList">
  <table class="table" mat-table [dataSource]="dataSource" matSort>
      <thead>
          <tr>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Name</th>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Description</th>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Target Date</th>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Team Members</th>
            <th mat-header-cell *matHeaderCellDef>Action</th>          
              
          </tr>        
      </thead>
      <tbody>
         <tr *ngFor="let Todo of Todo">
          <td>{{Todo.id}}</td>
              <td>{{Todo.taskname}}</td>
              <td>{{Todo.taskdescription}}</td>
              <td>{{Todo.priority}}</td>
              <td>{{Todo.status}}</td>
              <td>{{Todo.targetdate | date | uppercase}}</td>
              <td>{{Todo.teammember}}</td>
              <td>
              <button mat-icon-button  color="primary" (click)="updateTodo(Todo.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteTodo(Todo.id)">
                <mat-icon>delete</mat-icon>
              </button>  
              </td>  
          </tr>
          <tr mat-row *matRowDef="let todo of dataSource.data"></tr>
     </tbody>
  </table>
  </div>
</body>
