
<div class="container-md p-3 my-3 border">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Due Date</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>        
        </thead>
        <tbody>
           <!---<tr *ngFor="let Todo of Todo">
                <td>{{Todo.description}}</td>
                <td>{{Todo.targetDate | date | uppercase}}</td>
                <td>{{Todo.done}}</td>
                <td><button  class="btn btn-success">Update</button></td>
                <td><button class="btn btn-warning">Delete</button></td>
            </tr>-->
        </tbody>
    </table>
    
    <div class="row">
        <td><button class="btn btn-success">Add</button></td>
    </div>
    </div>
    