* {
    background-color: rgb(233, 237, 237);
    border-radius: 20px;
}

h3 {
    padding-top: 20px;
    text-align: center;
}

.forms {
    padding-left: 50px;
    padding-right: 50px;
}

table {
    border-collapse: collapse;

}

th {
    color: #333;
    padding: 10px;
    text-align: center;
    background-color: #f5f5f5;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.text-color {
    color: #6c6c6c;
}

.required-indicator {
    color: red;
}

.content {
    width: 70%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;

}

.spacing {
    margin-right: 10px;
}

.assign-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 {
    width: 40%;
    background-color: blue;
}

.capitalized {
    text-transform: uppercase;
}