<div class="wrapper">
<div>
  <mat-toolbar class="nav" color="primary">
    <mat-toolbar-row>
      <button *ngIf="isLoggedIn()" (click)="sidenav.toggle();" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>TASK MANAGEMENT PORTAL</span>


      <span class="example-spacer"></span>
      
      <button mat-button>
        <a routerLink="/dashboard" class="nav-link" mat-list-item *ngIf="isLoggedIn()"><button mat-button>Dashboard</button></a>
      </button> 
      <button mat-button>
        <a routerLink="/home" class="nav-link" mat-list-item ><button
            mat-button> Home</button></a>
      </button>
 
      <button mat-button>
        <a routerLink="/login"  class="nav-link" mat-list-item *ngIf="!isLoggedIn()"><button mat-button>Login</button></a>
      </button>
      <button mat-button>
        <a routerLink="/signup" class="nav-link" mat-list-item *ngIf="!isLoggedIn()"><button
            mat-button>Signup</button></a>
      </button>
      
      <button mat-icon-button *ngIf="isLoggedIn()">
        <mat-icon>notifications</mat-icon>
      </button>
      

      <button mat-icon-button [matMenuTriggerFor]="beforeMenu" *ngIf="isLoggedIn()">
        <mat-icon>account_circle</mat-icon></button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <a routerLink="/profile" mat-list-item>
        <button mat-button>Account</button></a>
        <a (click)="logout()" mat-list-item><button mat-button>Logout</button></a>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  </div>

  <mat-sidenav-container >
    <mat-sidenav #sidenav opened="true" mode="side" >
      <mat-nav-list *ngIf="isLoggedIn()">
        <a routerLink="/home" mat-list-item><button mat-button><mat-icon>home</mat-icon>Home</button></a>
        <a routerLink="/profile" mat-list-item><button
            mat-button><mat-icon>account_circle</mat-icon>Profile</button></a>
        <a routerLink="/report" mat-list-item><button mat-button><mat-icon>leaderboard</mat-icon>Report</button></a>
        <a routerLink="/events" mat-list-item><button mat-button><mat-icon>event</mat-icon>Events</button></a>
        <a routerLink="verification" mat-list-item><button mat-button><mat-icon>help</mat-icon>Support</button></a>
        <a mat-list-item><button mat-button (click)="logout()"><mat-icon>logout</mat-icon>Logout</button></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>