<div class="wrapper">

  <mat-toolbar class="nav" color="primary">
    <mat-toolbar-row>
            <button (click) ="sidenav.toggle();" mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
          <span>TASK MANAGEMENT PORTAL</span>
          

      <span class="example-spacer"></span>    
      
<button mat-button [matMenuTriggerFor]="afterMenu">Task</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <a routerLink="/create-task" class="nav-link" mat-list-item><button mat-button>Create Task</button></a>
  <a routerLink="/view-task" class="nav-link" mat-list-item><button mat-button>View Task</button></a>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menu">Dashboard</button>
<mat-menu #menu="matMenu">
<a routerLink="/userdetails" class="nav-link" mat-list-item><button  mat-button>UserBoard</button></a>
<a routerLink="/taskdetails" class="nav-link" mat-list-item><button  mat-button>TaskBoard</button></a>
<a routerLink="/summary" class="nav-link" mat-list-item><button  mat-button>Summary</button></a>
</mat-menu>
   
<button  mat-icon-button>
  <mat-icon>notifications</mat-icon>
</button>

<button  mat-icon-button  >
<mat-icon>share</mat-icon>
</button>

<button  mat-icon-button [matMenuTriggerFor]="beforeMenu">
  <mat-icon>account_circle</mat-icon></button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <a routerLink="signup" mat-list-item><button  mat-button>Create Account</button></a>
    <a  routerLink="login" mat-list-item><button  mat-button>User Login</button></a>
    </mat-menu>
    </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" >
    <mat-nav-list>
    <a mat-list-item ><button mat-button><mat-icon>home</mat-icon>Home</button></a>
    <a routerLink="/profile" mat-list-item><button mat-button><mat-icon>account_circle</mat-icon>Profile</button></a>
    <a routerLink="/report" mat-list-item><button mat-button><mat-icon>leaderboard</mat-icon>Report</button></a>
    <a routerLink="/events" mat-list-item><button mat-button><mat-icon>event</mat-icon>Events</button></a>
    <a routerLink="verification" mat-list-item><button mat-button><mat-icon>help</mat-icon>Support</button></a>
    <a mat-list-item><button mat-button><mat-icon>logout</mat-icon>Logout</button></a>
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
     <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>
    </mat-sidenav-container>

  
  </div> 

  
