<body>
    <h2 class="heading">Report</h2>

    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Completed Tasks</h2>
                    <h1 class="completed"></h1>
                    <h1 class="completed">64</h1>
                    <p><button class="button" [routerLink] = "['/taskmanagement/completed']">View Completed Tasks</button></p>
                </div>
            </div>
        </div>

        

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Pending Tasks</h2>
                    <h1 class="pending"></h1>
                    <h1 class="pending">23</h1>
                    <p><button class="button" [routerLink] = "['/taskmanagement/pending']">View Pending Tasks</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">On Progress Tasks</h2>
                    <h1 class="progress"></h1>
                    <h1 class="progress">16</h1>
                    <p><button class="button" [routerLink] = "['/taskmanagement/onprogress']">View On Progress Tasks</button></p>
                </div>
            </div>
        </div>
        
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Overdue Tasks</h2>
                    <h1 class="overdue"></h1>
                    <h1 class="overdue">5</h1>
                    <p><button class="button" [routerLink] = "['/taskmanagement/overdue']">View Overdue Tasks</button></p>
                </div>
            </div>
        </div>
    </div>


</body>

